@use "./global.scss";

section.project {
    @include global.flex(row, nowrap, center, start);

    width: 100%;

    @media screen and (max-width: 1024px) {
      @include global.flex(column, nowrap, flex-start, center);
    }

    > div.infos {
      @include global.flex;

      height: 100vh;
      width: 25%;

      @media screen and (max-width: 1024px) {
        height: 25%;
        width: 100%;
        margin-top: 12.5vh;
      }

      > ul {
        list-style-type: none;

        width: 50%;

        color: global.$brown;

        @media screen and (max-width: 1024px) {
          width: 75%;
        }

        > li {
          @include global.flex(row, nowrap, space-between, start);

          font-family: bebasNeue;
          font-size: 17px;
          line-height: 2.5vh;
          margin-bottom: 2%;
        }
        ul {
          list-style-type: inherit
        }
      }
    }

    > div.images {
      @include global.flex(column, nowrap, center, start);
      height: 100%;
      width: 50%;

      @media screen and (max-width: 1024px) {
        @include global.flex(column, nowrap, center, center);
        width: 100%;
      }

      > div {
        overflow: hidden;

        margin: 5vh 0;
        height: 30%;
        width: 60%;

        @media screen and (max-width: 675px) {
          width: 90%;
        }
        @media screen and (min-width: 676px) and (max-width: 1024px) {
          width: 50%;
        }

        > img {
          width: 100%;
        }
      }
    }

    > div.directions {
      @include global.flex(column, nowrap, space-between, center);

      height: 100vh;
      width: 25%;

      @media screen and (max-width: 1024px) {
        @include global.flex(row, nowrap, space-between, center);
        width: 100%;
      }

      a {
        position: relative;
        overflow: hidden;

        cursor: pointer;

        text-decoration: none;
        font-family: bebasNeue;
        font-size: 1vw;

        color: transparent;

        @media screen and (max-width: 675px) {
          font-size: 4vw;
          color: global.$brown;
        }

        @media screen and (min-width: 676px) and (max-width: 1024px) {
          font-size: 2.5vw;
          color: global.$brown;
        }
      }

      div.line {
        position: relative;

        height: 50%;
        width: 2px;

        background: global.$brown;

        @media screen and (max-width: 1024px) {
          height: 2px;
          width: 50%;
        }
      }

      div.visit {
        @include global.flex(column, nowrap, start, center);

        height: 47.5%;
        width: 100%;

        @media screen and (max-width: 1024px) {
          width: 47.5%;
          @include global.flex(row, nowrap, start, center);
        }

        > a {
          &::before,
          &::after {
            content: "visiter le site";
            position: absolute;

            top: 0;
            left: 0;

            text-decoration: none;
            font-family: bebasNeue;
            font-size: 1vw;

            color: global.$brown;

            transition: top 0.25s;

            @media screen and (max-width: 1024px) {
              display: none;
            }
          }
          &::after {
            top: 100%;
            color: global.$blue;
          }

          &:hover::before {
            top: -100%;
          }
          &:hover:after {
            top: 0;
          }
        }

        > div.line {
          &::before,
          &::after {
            content: "\A0";
            position: absolute;

            bottom: 2px;
            left: -1px;
            height: 2px;
            width: 10px;

            background: global.$brown;

            transform: rotate(-45deg);

            @media screen and (max-width: 1024px) {
              bottom: -3px;
              left: calc(100% - 7px);
              transform: rotate(135deg);
            }
          }
          &::after {
            left: -7px;
            bottom: 2px;
            transform: rotate(45deg);

            @media screen and (max-width: 1024px) {
              bottom: 3px;
              left: calc(100% - 7px);
            }
          }
        }
      }

      > div.back {
        @include global.flex(column, nowrap, end, center);

        height: 47.5%;
        width: 100%;

        @media screen and (max-width: 1024px) {
          width: 47.5%;
          @include global.flex(row, nowrap, end, center);
        }

        > a {
          &::before,
          &::after {
            content: "retour";
            position: absolute;

            top: 0;
            left: 0;

            text-decoration: none;
            font-family: bebasNeue;
            font-size: 1vw;

            color: global.$brown;

            transition: top 0.25s;

            @media screen and (max-width: 1024px) {
              display: none;
            }
          }
          &::after {
            top: 100%;
            color: global.$blue;
          }

          &:hover::before {
            top: -100%;
          }
          &:hover:after {
            top: 0;
          }
        }

        > div.line {
          &::before,
          &::after {
            content: "\A0";
            position: absolute;

            top: 2px;
            left: -1px;
            height: 2px;
            width: 10px;

            background: global.$brown;

            transform: rotate(45deg);

            @media screen and (max-width: 1024px) {
              top: -3px;
              left: -2px;
              transform: rotate(-45deg);
            }
          }
          &::after {
            left: -7px;
            top: 2px;
            transform: rotate(-45deg);

            @media screen and (max-width: 1024px) {
              transform: rotate(225deg);
              left: -2px;
              top: 3px;
            }
          }
        }
      }
    }
  }